.font-l{
    font-size: 35px;
}
.font-Xl{
    font-family: 'HakgyoansimAllimjangTTF-B';
    font-size: 70px;
}
.font-m{
    font-size: 15px;
}
.font-s{
    font-size: 12px;
}
.font-b{
    font-weight: bold;
}
.mb-m{
    margin-bottom: 18px;
}

@media (max-width : $tab) {
    .font-l{
         font-size: 6vw;
    }
    .font-Xl{
        font-size:12vw;
    }
    .font-m{
        font-size: 25px;
    }
    // .font-s{
    //     font-size: 15px;
    // }
}